<html>
    <head>
        <meta charset="utf-8" />
        <title>Kien's World</title>
        <link rel="stylesheet" href="/static/css/about.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="/static/css/lala.css" type="text/css" rel="stylesheet">
        <link href="/static/css/layout.css" type="text/css" rel="stylesheet">
        <link href="/static/css/feeling.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        
    </head>
<body>
        <div id="wrapper">
                <div id="menu_area" class="menu-area">
                        <div class="container">
                            <div class="row">
                                <nav class="navbar navbar-light navbar-expand-lg mainmenu">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav mr-auto" >
                                            <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                                            <li class="dropdown"> 
                                                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Memory</a>
                                                <ul class=" " aria-labelledby="navbarDropdown">
                                                <li><a href="/memory">Image</a></li>
                                                <li><a href="/upfile">Upload image</a></li>
                                                </ul>
                                            </li>      
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Football</a>
                                                <ul class=" " aria-labelledby="navbarDropdown">
                                                <li><a href="/man_united">Manchester United</a></li>
                                               
                                                </ul>
                                            </li>
                                            <li><a href="/feeling">Feeling</a></li>
                                            <li><a href="/about">About us</a></li>
                                        </ul>
                                        <div class="navbar-nav">
                                            <a class="nav-item nav-link" href="/register">Register</a>
                                        </div>
                                        <div class="navbar-nav">
                                            <a class="nav-item nav-link" href="/logout">Logout</a>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                </div>
                <div class="testimonial-section">
                    <div class="inner-width">
                        <h1>Our Team</h1>
                        <br>
                        <h3>Blog team is established by 3 members of class "Code For Everyone 24" in Techkids coding school. </h3>
                        <div class="border"></div>
              
                        <div class="slide owl-carousel">
                            <div class="testimonial">
                                <div class="test-infor">
                                    <img  class= "test-pic" src="/static/images/tien.jpg" alt="image">
                                    <br>
                                    <h4>Nguyễn Văn Tiến</h4>
    
                                </div>
    
                               
                                <p>1998<br>Study at Ptit<br></p>
    
                                
              
                              
              
                            </div>
              
                            <div class="testimonial">
                              <div class="test-infor">
                                  <img  class= "test-pic" src="/static/images/kien_2.jpg" alt="image">
                                  <br>
                                  <h4>Nguyễn Đức Kiên</h4>
                                 
                                </div>
                                    <p>1995<br>FPT Telecom<br></p>
                                </div>
              
                          <div class="testimonial">
                              <div class="test-infor">
                                  <img  class= "test-pic" src="/static/images/huy_2.jpg" alt="image">
                                  <br>
                                  <h4>Bùi Ngọc Huy</h4>
                                  
                                </div>
                                    <p>1998<br>Study at PTIT<br></p>
                                </div>
                        </div>
                    </div>
                </div>
     
                
                <script type="text/javascript">
    
                    $(".owl-carousel").owlCarousel({
                      margin:10,
                      responsiveClass:true,
                      responsive:{
                          0:{
                              items:1
                          },
                          680:{
                              items:2
                          },
                          960:{
                              items:3
                          }
                  
                      }
                    });
    </script>
    </div>
</body>
